{% extends "simple_layout.html" %}

{% block title %} {{title}}  {% endblock title %}
{% block header %} {{header}}  {% endblock header %}

{% block content %} 
<form action="" method="post">
   {{ form.csrf_token }}
   <!-- BURGERS -->
   <div>
      {{form.burger.label}}
      <span class="error">{{ form.burger.errors | join("|") }}</span>
      <br />
      {{form.burger}}
   </div>
   <!-- LEVELS  -->
   <div>
      {{form.level.label}}
      <span class="error">{{ form.level.errors | join("|") }}</span>
      <br />
      {{form.level}}
   </div>
   <!-- TOPPINGS -->
   <div>
      {{form.toppings.label}}
      <span class="error">{{ form.toppings.errors | join("|") }}</span>
      <br />
      {{form.toppings}}
   </div>
   <!-- FRIES -->
   <div>
      {{form.fries}} {{form.fries.label}}
   </div>
   {{form.fries_price}}
   <br />
   <!-- SUBMIT -->
   <div>
      {{form.submit()}}
   </div>
</form>
{% endblock content %}
